<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title>Thetis</title>

<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<%= javascript_include_tag 'thetis/common100' %>

</head>

<body style="margin:0px; padding:0px">

<table align="center" cellpadding="0" cellspacing="0" width="100%" style="height:20px; padding:0px; border-collapse:collapse;" background="<%= THETIS_RELATIVE_URL_ROOT %>/images/woody.png">
  <tr>
    <td align="center" style="color:white; font-size:10pt;">
      <a href="#" style="color:white; text-decoration:none;" onclick="openWindow('<%= url_for :controller => 'frames', :action => 'about' %>',600, 360, 'about'); return false;">&copy;2007-2011 Thetis Developers</a>
    </td>
  </tr>
</table>

</body>
</html>
