
<table width="95%" cellspacing="0" cellpadding="0" align="center" style="width:95%; height:100%; padding:10px 0px;">
  <tr style="height:80%;">
    <td align="center" id="div_selectItems" style="height:80%;">

      <%
      submit_url = url_for(:controller => 'schedules', :action => 'get_folder_items')
      %>
      <%= render(:partial => 'common/select_items', :locals => {:target_attr => :id, :submit_url => submit_url}) %>

    </td>
  </tr>
  <tr style="height:20%;">
    <td align="center" style="padding-top:5px;">

      <table align="center" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right">
            <input type="button" value="<%= t('btn.add') %>" onclick="onScheduleItemsOk();" style="width:90px; height:25px">
          </td>
          <td width="10"></td>
          <td align="left">
            <input type="button" value="<%= t('btn.cancel') %>" onclick="onScheduleItemsCancel();" style="width:90px; height:25px">
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<script type="text/javascript">

onScheduleItemsOk = function()
{
  var ret_ary = moveList(_z("item_candidates"), _z("items_selected"));

  var instance = ThetisBox.getInstanceForElem(_z("div_selectItems"));
  if (instance) {
    instance.remove();
  }
}

onScheduleItemsCancel = function()
{
  var instance = ThetisBox.getInstanceForElem(_z("div_selectItems"));
  if (instance) {
    instance.remove();
  }
}

</script>
