  <table width="100%" cellpadding="0" cellspacing="2">
    <tr>
      <td class="td_show_cap_bar">
        <%= Item.human_attribute_name('description') %>
      </td>
    </tr>
    <tr>
      <td>
      <div id="div_description" style="padding:5px; text-align:left;"><%= raw(@item.description) %></div>
<% unless params[:action] == 'show_for_print' %>
<script type="text/javascript">
    _x("div_description").style.width = getDescriptionWidth() + "px";
    _x("div_description").style.overflow = "auto";
</script>
<% end %>
      </td>
    </tr>
  </table>
