<% if @item.summary.nil? or @item.summary.empty? %>

<% else %>
  <table width="100%" cellpadding="0" cellspacing="2">
    <tr>
      <td class="td_show_cap_bar" nowrap>
        <%= Item.human_attribute_name('summary') %>
      </td>
    </tr>
    <tr>
      <td class="item_value_td">
        <div><%= raw(ApplicationHelper.format_text_block(h(@item.summary))) %></div>
      </td>
    </tr>
  </table>
<% end %>
