<table style="width:85%; margin:100px auto;">
  <tr>
    <td style="text-align:center; background-color:#d5e8ff; font-size:24pt; padding:8px; border-radius:5px;">
      <%= t('research.answer_received') %><br/>
      <%= t('msg.thank_you_for_coop')%>
    </td>
  </tr>
</table>

<br>
