
<table class="border_collapse dimgray" style="width:100%;">
<% @timecards.each_with_index do |timecard, idx| %>
  <tr>
    <td style="text-align:left; padding:10px; cursor:pointer;" onmouseover="this.style.backgroundColor='aquamarine';" onmouseout="this.style.backgroundColor='white';" onclick="doSelect('desc_<%= idx %>')">
      <pre id="desc_<%= idx %>" style="font-size:10pt;"><%= timecard.comment %></pre>
    </td>
  </tr>
<% end %>
</table>

<script type="text/javascript">

doSelect = function(div_id)
{
  _z("timecard_comment").innerHTML = _z(div_id).innerHTML;
  ThetisBox.getContainer(_z(div_id)).remove();
}
</script>

