<% unless @schedules.nil? %>
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td valign="top" style="padding:5px;">
      <div id="div_timetable" style="background-color:white;">
        <%= render(:partial => 'schedules/timetable') %>
      </div>
    </td>
  </tr>
</table>
<% end %>
