<%
form_idx = Time.now.to_f.to_s.gsub('.', '_')
%>

<%= form_tag({:controller => 'mail_accounts', :action => 'create'}, :method => 'post', :name => 'form_mail_account'+form_idx) %>

<table cellspacing="0" cellpadding="0" style="width:100%; padding:10px 15px;">
  <tr>
    <td style="vertical-align:top;">
      <%= render(:partial => 'mail_account_form', :locals => {:form_idx => form_idx}) %>
    </td>
  </tr>
</table>

</form>

<table align="center" cellspacing="0" cellpadding="0" style="padding-bottom:25px;">
  <tr>
    <td class="img_button_td" onclick="doRegisterAccount();">
      <%= t('btn.register')%>
    </td>
  </tr>
</table>

