
<table style="width:95%; height:100%; margin:10px auto;">
  <tr style="height:80%;">
    <td style="text-align:center; height:80%;" id="div_selectEquipment" >

      <%
      submit_url = url_for(:controller => 'schedules', :action => 'get_group_equipment')
      %>
      <%= render(:partial => 'common/select_equipment', :locals => {:target_attr => :id, :submit_url => submit_url}) %>

    </td>
  </tr>
  <tr style="height:20%;">
    <td style="text-align:center; padding:5px 0px 15px;">

      <table style="margin:0px auto;">
        <tr>
          <td style="text-align:right;">
            <input type="button" value="<%= t('btn.add') %>" onclick="onScheduleEquipmentOk();" style="width:90px; height:25px">
          </td>
          <td style="width:10px;"></td>
          <td style="text-align:left;">
            <input type="button" value="<%= t('btn.cancel') %>" onclick="onScheduleEquipmentCancel();" style="width:90px; height:25px">
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<script type="text/javascript">

onScheduleEquipmentOk = function()
{
  var arr = moveList(_z("equipment_candidates"), _z("equipment_selected"));

  if (arr != null && arr.length > 0) {
    reqTargetDay++;
  }

  var instance = ThetisBox.getInstanceForElem(_z("div_selectEquipment"));
  if (instance) {
    instance.remove();
  }
}

onScheduleEquipmentCancel = function()
{
  var instance = ThetisBox.getInstanceForElem(_z("div_selectEquipment"));
  if (instance) {
    instance.remove();
  }
}

</script>
