<script type="text/javascript">

function showConfirmSaveChange(onYes, onNo)
{
  var content = "";
  content += "<table align='center' cellspacing='0' cellpadding='0' style='padding:20px 0px;'>";
  content += "  <tr><td><%= t('msg.confirm_to_save_change') %></td></tr>";
  content += "  <tr height='20'><td></td></tr>";
  content += "  <tr>";
  content += "    <td align='center' nowrap>";
  content += "      <input type='button' value='<%= t('btn.btn_yes') %>' onclick='ThetisBox.getContainer(this).remove(); "+onYes+"' style='width:80px;' />";
  content += "      <input type='button' value='<%= t('btn.btn_no') %>' onclick='ThetisBox.getContainer(this).remove(); "+onNo+"' style='width:80px; margin:0px 10px;' />";
  content += "      <input type='button' value='<%= t('btn.cancel') %>' onclick='ThetisBox.getContainer(this).remove();' style='width:80px;' />";
  content += "    </td>";
  content += "  </tr>";
  content += "</table>";

  var thetisBoxConfm = new ThetisBox;
  thetisBoxConfm.show("CENTER", "340,178", "TRAY", "", "", content);

  return thetisBoxConfm;
}

</script>
