
<table style="width:100%; height:8px; padding:0px; background:url('<%= THETIS_RELATIVE_URL_ROOT %>/images/background/woody.png') repeat;">
  <tr>
    <td style="text-align:center; color:white; font-size:8px; line-height:1.0; padding:0px;">
      <a href="javascript:this.onclick()" style="color:white; text-decoration:none; cursor:pointer;" onclick="openWindow('<%= url_for(:controller => 'frames', :action => 'about') %>',600, 360, 'about'); return false;">&copy;2007-2016 Thetis Developers</a>
    </td>
  </tr>
</table>

