<%
error_name = 'Error'
error_desc = ''
case params[:id]
  when '401'
    error_name = t('msg.unauthorized')
    error_desc = t('msg.need_auth_to_access')
end
%>

<br/>
<table style="width:75%; height:100%; margin:0px auto; border:2px solid hotpink; border-right:2px solid crimson; border-bottom:2px solid crimson; border-spacing:5px;">
  <tr style="height:250px;">
    <td style="text-align:center;">

      <table style="width:100%; margin:10px auto; border-spacing:5px;">
        <tr style="height:35%;">
          <td style="text-align:center; vertical-align:bottom; color:crimson; line-height:1.0; font-size:29px; font-weight:bold;" >
            <%= error_name %>
          </td>
        </tr>
        <tr style="height:100px;">
          <td style="text-align:center; vertical-align:bottom;">

            <table style="width:70%; margin:10px auto; border:solid 1pt crimson; background-color:pink; border-spacing:5px;">
              <tr>
                <td style="text-align:center;">
                  <%= error_desc %>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<br/>
