
<%= render(:partial => 'common/error', :locals => {:obj => @item}) %>

<table style="width:98%; margin:10px auto 0px; border-spacing:2px;">
  <tr>
    <td>
      <%= text_area('item', 'description', :cols => '60', :rows => '20', :wrap => 'off', :style => 'display:none;') %>
    </td>
  </tr>
</table>

<div id="div_before_restore" style="display:none;"></div>

<script type="text/javascript">

//document.getElementById("item_id").value = "<%= @item.id %>";

if (oEditor)
{
  try { oEditor.destroy(true); } catch(e) { ; }
}

oEditor = CKEDITOR.replace( "item_description",
            {
              <%
              lang = ''
              unless request.user_preferred_languages.nil? or request.user_preferred_languages.empty?
                lang = request.user_preferred_languages[0].split('-').first
              end
              %>
              language : "<%= lang %>",

              height: getClientRegion().height - 270,
              width: "100%",

              on :
              {
                instanceReady : function()
                {
                  oEditor.resetDirty();
                }
              }
            } );

</script>

