<table style="width:85%; margin:5px auto 0px;">
  <tr>
    <td style="text-align:center;">
      <% @item.images_without_content.each do |img| %>
        <table style="display:inline-block; min-width:200px; padding:15px 5px;">
          <tr>
            <td class="img_td" style="text-align:center;">
              <% img_url = url_for(:controller => 'items', :action => 'get_image', :id => img.id, :ts => ApplicationHelper.get_timestamp(img)) %>
              <img id="<%= "img#{img.id}" %>" src="<%= img_url %>" />
            </td>
          </tr>
        <% unless img.title.nil? or img.title.empty? %>
          <tr>
            <td class="img_title_td" style="text-align:center;">
              &lt;<%= img.title %>&gt;
            </td>
          </tr>
        <% end %>
        <% unless img.memo.nil? or img.memo.empty? %>
          <tr style="height:6px;"><td></td></tr>
          <tr>
            <td class="img_memo_td" style="text-align:center;">
              <pre style="font-size:13px;"><%= img.memo %></pre>
            </td>
          </tr>
        <% end %>
        </table>
      <% end %>
    </td>
  </tr>
</table>
