<script type="text/javascript">

function getDescriptionWidth()
{
  var leftWidthPercent = 0;
  var horizontalFrame = parent.document.getElementById("horizontalFrame");
  if (horizontalFrame != null) {
    leftWidthPercent = horizontalFrame.cols.split("%")[0];
  }
  var mainWidthMax = screen.availWidth*(100-leftWidthPercent)/100;
  return (mainWidthMax*76/100);
}

</script>

<table style="margin:0px auto; width:600px;" cellpadding="0" cellspacing="2">
  <tr>
    <td style="vertical-align:top;">
    <% unless @item.summary.nil? or @item.summary.empty? %>
      <div style="padding-bottom:10px;">
        <%= render(:partial => 'show_summary') %>
      </div>
    <% end %>
      <div>
        <%= render(:partial => 'show_description') %>
      </div>
    </td>
  </tr>
</table>

<table style="width:100%; padding-top:10px;" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
 <% if @item.images_without_content.length > 0 %>
    <td style="width:10%;">
      <%= render(:partial => 'show_image') %>
    </td>
 <% end %>
    <td>&nbsp;</td>
 <% if @item.attachments_without_content.length > 0 %>
    <td style="width:30%; vertical-align:top;">
      <%= render(:partial => 'show_attachment') %>
    </td>
 <% end %>
    <td>&nbsp;</td>
  </tr>
</table>

