<% if @item.summary.blank? %>

<% else %>
  <table style="width:100%; border-spacing:2px;">
    <tr>
      <td class="td_show_cap_bar" nowrap>
        <%= Item.human_attribute_name('summary') %>
      </td>
    </tr>
    <tr>
      <td class="item_value_td">
        <div><%= raw(ApplicationHelper.format_text_block(h(@item.summary))) %></div>
      </td>
    </tr>
  </table>
<% end %>
