
<table id="title_main" style="height:100%;" cellspacing="0" cellpadding="0" width="100%">
  <tr height="80%">
    <td valign="middle">

      <table cellspacing="0" cellpadding="0" width="100%">
        <tr height="10%">
          <td align="left" style="font-size:20pt; line-height:1.0; padding-left:60px; text-indent:80px;">
            <%=h t('research.title') %>
            <hr size="1" style="color:black;" />
          </td>
        </tr>
        <tr height="5%"><td></td></tr>
        <tr height="85%">
          <td style="vertical-align:top; padding-left:100px;" align="left">

            <table width="80%" cellpadding="5" cellspacing="20" align="center" style="border:dashed 10pt moccasin;">
              <tr>
                <td align="center" style="font-size:20pt;">
                    <%=h t('research.not_in_action') %>
                </td>
              </tr>
            </table>

            <br/>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
