
<table style="border-collapse:collapse;" cellspacing="0" cellpadding="0" width="100%">
<% @timecards.each_with_index do |timecard, idx| %>
  <tr>
    <td align="left" style="padding:10px; border:solid dimgray 1px; cursor:pointer;" onmouseover="this.style.backgroundColor='aquamarine';" onmouseout="this.style.backgroundColor='white';" onclick="doSelect('desc_<%= idx %>')">
      <pre id="desc_<%= idx %>" style="font-size:10pt;"><%=h timecard.comment %></pre>
    </td>
  </tr>
<% end %>
</table>

<script type="text/javascript">

doSelect = function(div_id)
{
  _x("timecard_comment").innerHTML = _x(div_id).innerHTML;
  ThetisBox.getContainer(_x(div_id)).remove();
}
</script>

