
.login_title {text-align:center; vertical-align:bottom; line-height:1.0; font-family:Times New Roman; font-size:38pt; font-weight:bold;}
.symbol_title {line-height:1.1; font-size:18pt; font-family:Times New Roman, Georgia; font-weight:500;}
.base_list {overflow:scroll; overflow-x:visible; background-color:white;}

.desktop_toolbtn {cursor:pointer; width:64px; vertical-align:middle; border-radius:10px;}
.desktop_toolbtn:hover {background-color:pink;}
.postlabel_frame {border-radius:7px;}
.label_frame {border-radius:7px;}

.toolbtn_dropdown {position:absolute; background-color:ghostwhite; padding:3px; border:solid 2px; border-top-color:whitesmoke; border-left-color:whitesmoke; border-bottom-color:dimgray; border-right-color:dimgray; -webkit-box-shadow:2px 2px 5px rgba(100, 100, 100, 0.2); -moz-box-shadow:2px 2px 5px rgba(100, 100, 100, 0.2); box-shadow:2px 2px 5px rgba(100, 100, 100, 0.2); -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;}
.context_menu_item {display:block; height:25px; line-height:25px; text-align:left; vertical-align:middle; padding:0px 5px;}
.context_menu_item:hover {background-color:mediumslateblue/*deepskyblue*/; color:white;}

.sort_direction{color:darkcyan; font-size:9pt;}

table.border_collapse, table.timecard{border-collapse:separate; border-spacing:0px;}
table.border_collapse.black{border-top:1px solid black; border-left:1px solid black;}
table.border_collapse.black td{border-right:1px solid black; border-bottom:1px solid black;}
table.border_collapse.dimgray{border-top:1px solid dimgray; border-left:1px solid dimgray;}
table.border_collapse.dimgray td{border-right:1px solid dimgray; border-bottom:1px solid dimgray;}
table.border_collapse.steelblue{border-top:1px solid steelblue; border-left:1px solid slateblue;}
table.border_collapse.steelblue td{border-right:1px solid steelblue; border-bottom:1px solid slateblue;}
table.border_collapse.green{border-top:1px solid green; border-left:1px solid green;}
table.border_collapse.green td{border-right: 1px solid green; border-bottom:1px solid green;}

table.timecard {border-top:1px solid black; border-left:1px solid black; background-color:white;}
table.timecard th, table.timecard td{border-right:1px solid black; border-bottom:1px solid black;}
table.timecard th{background-color:#eee; font-weight:normal; padding:0px 10px;}
table.timecard td{padding:2px 5px;}
.span_holiday {background-color:red; color:white; padding:3px 10px;}
.info_area {background-color:#FFF0FA;}
.info_section_header {color:dimgray; padding:2px; line-height:1.7; text-align:center; background-color:#dfdfdf; font-weight:bold;}
.treeBlock {padding-left:30px; border-left:1px dotted navy;}

.date_label {text-decoration:underline; width:105px; text-align:center; font-size:10.5pt; font-family:verdana,arial,helvetica,sans-serif; color:crimson; border:0px; cursor:pointer;}
.calendar_paging:link {color:white; background-color:salmon;}
.calendar_paging:visited {color:white; background-color:salmon;}
.calendar_paging:active {color:white; background-color:salmon;}
.calendar_paging:hover {color:white; background-color:salmon;}

.email_subject_unread {font-weight:bold; color:sienna;}

.td_calendar_wday {border-right:2px solid white; border-bottom:2px solid white;}
.td_calendar {border-right:2px solid midnightblue; border-bottom:2px solid midnightblue; line-height:1.1; font-size:9pt; cursor:pointer; text-align:left;}
.td_calendar_empty {border-right:1px solid midnightblue; border-bottom:1px solid midnightblue;}

.button_gray {text-align:left; white-space:nowrap; padding:0px 10px; border-top:1px solid silver; border-left:1px solid silver; border-bottom:1px solid black; border-right:1px solid black; cursor:pointer; background-color:gray; color:white; width:100px; display:inline-block;}
.button_gray:hover {background-color:lawngreen;}

.select_multi {width:100%; margin-bottom:0px; padding-bottom:0px;}
.select_candidates {width:100%; margin-bottom:0px; padding-bottom:0px; background-color:lavender;}

.font_msg_bold {font-size:12pt; font-weight:800;}

.td_attachment_name {color:white; font-size:9pt; padding:3px; padding-left:10px; padding-right:20px; line-height:10pt; background-color:#6B6E7A;}
.td_attachment_title {color:white; font-size:9pt; padding:3px; padding-left:10px; padding-right:20px; line-height:10pt; background-color:gray;}
.td_attachment_memo {color:black; font-size:9pt; padding:3px; padding-left:10px; padding-right:20px; line-height:10pt; background-color:gainsboro; text-align:left;}

.td_show_cap_bar {background:url("../images/caption_bg.png") repeat-x center; padding:0px 10px; color:dimgray; border:solid 1px silver; text-align:left; -webkit-box-shadow:2px 2px 3px rgba(100, 100, 100, 0.2); -moz-box-shadow:2px 2px 3px rgba(100, 100, 100, 0.2); box-shadow:2px 2px 3px rgba(100, 100, 100, 0.2); -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;}

.td_entry_info_cap {border:solid 1px #0066ff; font-size:10pt; padding:0px 3px; line-height:1.5; text-align:center; vertical-align:middle;}
.td_entry_info_val {font-size:10pt; padding:0px 3px; line-height:1.5; text-align:center; vertical-align:middle;}
.td_item_tab {width:120px; background-color:silver; color:white; cursor:pointer; padding:0px 10px; text-align:left;}
.td_item_tab:hover {background-color:palegreen;}
.td_item_tab.selected{background-color:blue; color:white; cursor:default;}

.img_title_td {text-align:center; color:navy; font-size:10pt; line-height:14pt; padding:5px;}
.img_memo_td {border:double 4px darkgoldenrod; padding:10px 15px; background-color:cornsilk; text-align:left;}
.img_td {color:navy;}
.img_btn {border-right:solid 1px darkgray; border-bottom:solid 1px darkgray; padding-right:2px; padding-bottom:2px; cursor:pointer;}

.comment_body_td {border:solid 1px #965100; font-size:13px; padding:5px; line-height:1.7; background-color:#FFFBED;}
.comment_tab_td {color:white; font-size:13px; padding:3px; padding-left:10px; padding-right:20px; line-height:1.0; background:url("../images/comment_tab.png") top left repeat-x;}
.comment_sys_body_td {border:solid 1pt #EA3C50; font-size:13px; padding:5px; line-height:1.7; background-color:#FFEDED;}
.comment_sys_tab_td {color:white; font-size:13px; padding:3px; padding-left:10px; padding-right:20px; line-height:1.0; background-color:#EA3C50;}

.img_button_td {background-image:url("../images/button.png"); vertical-align:middle; background-repeat:no-repeat; cursor:pointer; text-align:center; width:103px; height:35px; font-weight:600; color:white;}
.menu_td {cursor:pointer; font-size:11pt; line-height:1.0; background:url("../images/menu/menu_bg_off.png") repeat-x center; padding:0px; color:#404040; border:solid 1px silver; text-align:center; -webkit-box-shadow:1px 1px 2px rgba(100, 100, 100, 0.2); -moz-box-shadow:1px 1px 2px rgba(100, 100, 100, 0.2); box-shadow:1px 1px 2px rgba(100, 100, 100, 0.2); -moz-border-radius:13px; -webkit-border-radius:13px; border-radius:13px;}
.menu_td.hovered {color:forestgreen;}
.menu_td.selected {background:url("../images/menu/menu_bg_on.png") repeat-x center; color:deeppink; border:solid 1px pink; -webkit-box-shadow:1px 1px 2px rgba(100, 50, 50, 0.2); -moz-box-shadow:1px 1px 2px rgba(100, 50, 50, 0.2); box-shadow:1px 1px 2px rgba(50, 50, 100, 0.2);}
.cap_td {font-size:10.5pt; line-height:17pt; background-color:#FFCBCF; padding:5px; text-align:center;}
.item_cap_td {font-size:10.5pt; line-height:17pt; background-color:#FFCBCF; padding:5px; width:110px; text-align:center;}
.prim_cap_td {font-size:10.5pt; line-height:17pt; white-space:nowrap; background-color:#7FE8FF; padding:5px; width:110px; text-align:center;}
.item_value_td {font-size:10.5pt; line-height:17pt; padding:5px; text-align:left;}

.list_th,.list_sort{background-image:url("../images/list_th_off.png"); background-repeat:repeat-x; font-size:10.5pt; line-height:17pt; white-space:nowrap;}
.list_sort{cursor:pointer;}
.list_sort:hover {background-image:url("../images/list_th_on.png");}

.pagination_td{border:solid 1px darkgray; color:#404040; line-height:14pt;}

h2 {line-height:20pt;}

body, ol, ul, td, li, textarea {font-family:verdana,arial,helvetica,sans-serif; font-size:10.5pt; line-height:1.7; margin:0px; padding:0px;}
table {padding:0px; border-width:0px; border-spacing:0px;}
form {display:inline;}
textarea {font-family:verdana,arial,helvetica,sans-serif; font-size:10.5pt; line-height:1.7; margin:0px;}
pre {font-family:verdana,arial,helvetica,sans-serif; font-size:10.5pt; line-height:1.7; margin:0px;}
p {font-family:verdana,arial,helvetica,sans-serif; margin:0px;}
img {border:0px; vertical-align:middle;}

a:link {text-decoration:none; color:navy }
a:visited {color:navy }
a:active {text-decoration:none; color:blue }
a:hover  {text-decoration:none; color:limegreen }

a.linked_path {text-decoration:underline; color:red; background-color:inherit;}
a.linked_path:hover {background-color:palegreen;}

a.linked_item_dir {text-decoration:none; color:red; background-color:inherit;}
a.linked_item_dir:hover {background-color:cornsilk;}

.a_underline:link {text-decoration:underline; color:navy }
.a_underline:visited {color:navy }
.a_underline:active {text-decoration:underline; color:blue }
.a_underline:hover{text-decoration:underline; color:limegreen }

.a_pagination:link {text-decoration:underline; color:red }
.a_pagination:visited {color:red }
.a_pagination:active {text-decoration:underline; color:orange }
.a_pagination:hover{text-decoration:underline; color:limegreen }

.fieldWithErrors {padding:2px; background-color:red; display:table;}
#errorExplanation {display:none; width:400px; border:2px solid red; padding:7px; padding-bottom:12px; margin-bottom:20px; background-color:#f0f0f0;}
#errorExplanation h2 {text-align:left; font-weight:bold; padding:5px 5px 5px 15px; font-size:12px; margin:-7px; background-color:#c00; color:#fff;}
#errorExplanation p {color:#333; margin-bottom:0px; padding:5px;}
#errorExplanation ul li {font-size:12px; list-style:square;}

div.uploadStatus {margin:5px;}
div.progressBar {margin:5px;}
div.progressBar div.border {background-color:#fff; border:1px solid grey; width:100%;}
div.progressBar div.background {background-color:#333; height:18px; width:0%;}

div.hr {border-bottom:solid 1px gray; margin:5px 0px;}

.regular_table {width:100%; border-spacing:1px;}
.regular_table>tbody>tr {height:30px;}
.regular_table>tbody>tr>td {text-align:left; padding:0px 5px;}
.regular_table>tbody>tr:nth-child(odd)>td {background-color:white;}
.regular_table>tbody>tr:nth-child(even)>td {background-color:gainsboro;}
.regular_table>tbody#sortable_items>tr>td {cursor:move; border:2px solid transparent;}
.regular_table>tbody#sortable_items>tr>td:hover {border-color:lime;}

