
.login_title {text-align:center; vertical-align:bottom; line-height:1.0; font-family:Times New Roman; font-size:50px; font-weight:bold;}
.symbol_title {line-height:1.1; font-size:24px; font-family:Times New Roman, Georgia; font-weight:500;}
.base_list {overflow:scroll; overflow-x:visible; background-color:white;}

.desktop_toolbtn {cursor:pointer; width:64px; vertical-align:middle; border-radius:10px;}
.desktop_toolbtn:hover {background-color:pink;}
.postlabel_frame {border-radius:7px;}
.label_frame {border-radius:7px;}

.toolbtn_dropdown {position:absolute; background-color:ghostwhite; padding:3px; border:solid 2px; border-top-color:whitesmoke; border-left-color:whitesmoke; border-bottom-color:dimgray; border-right-color:dimgray; box-shadow:2px 2px 5px rgba(100, 100, 100, 0.2); border-radius:7px;}
.context_menu_item {display:block; height:25px; line-height:25px; text-align:left; vertical-align:middle; padding:0px 5px;}
.context_menu_item:hover {background-color:mediumslateblue/*deepskyblue*/; color:white;}

.sort_direction {color:darkcyan; font-size:12px;}

table.border_collapse, table.timecard{border-collapse:separate; border-spacing:0px;}
table.border_collapse.black{border-top:1px solid black; border-left:1px solid black;}
table.border_collapse.black td{border-right:1px solid black; border-bottom:1px solid black;}
table.border_collapse.dimgray{border-top:1px solid dimgray; border-left:1px solid dimgray;}
table.border_collapse.dimgray td{border-right:1px solid dimgray; border-bottom:1px solid dimgray;}
table.border_collapse.steelblue{border-top:1px solid steelblue; border-left:1px solid slateblue;}
table.border_collapse.steelblue td{border-right:1px solid steelblue; border-bottom:1px solid slateblue;}
table.border_collapse.green{border-top:1px solid green; border-left:1px solid green;}
table.border_collapse.green td{border-right: 1px solid green; border-bottom:1px solid green;}

table.timecard {border-top:1px solid black; border-left:1px solid black; background-color:white;}
table.timecard th, table.timecard td {border-right:1px solid black; border-bottom:1px solid black;}
table.timecard th {background-color:#eee; font-weight:normal; padding:0px 10px;}
table.timecard td {padding:2px 5px;}
.span_holiday {background-color:red; color:white; padding:3px 10px;}
.info_area {background-color:#fff0fa;}
.info_section_header {color:dimgray; padding:2px; line-height:1.7; text-align:center; background-color:#dfdfdf; font-weight:bold;}

.date_label {text-decoration:underline; width:105px; font-size:16px; text-align:center; color:crimson; border:0px; cursor:pointer; background-color:transparent;}
a.calendar_paging.paging_day {color:white; background-color:salmon; padding:0px 3px;}
a.calendar_paging.paging_day:nth-of-type(1) {margin-right:7px;}
a.calendar_paging.paging_day:nth-of-type(2) {margin-right:7px;}
a.calendar_paging.paging_day:nth-of-type(3) {margin-left:7px;}
a.calendar_paging.paging_day:nth-of-type(4) {margin-left:7px;}
a.calendar_paging.paging_month {color:white; background-color:salmon; padding:0px 3px;}
a.calendar_paging.paging_month:nth-of-type(1) {margin-right:7px;}
a.calendar_paging.paging_month:nth-of-type(2) {margin-left:7px;}

.email_subject_unread {font-weight:bold; color:sienna;}

.calendar_cell_wday {border-right:2px solid white; border-bottom:2px solid white;}
.calendar_cell {vertical-align:top; border-right:2px solid gray; border-bottom:2px solid gray; line-height:1.1; font-size:12px; cursor:pointer; text-align:left;}
.calendar_cell:hover {background-color:aquamarine;}
.calendar_cell_empty {border-right:1px solid gray; border-bottom:1px solid gray;}

.button_gray {text-align:left; white-space:nowrap; padding:0px 10px; border-top:1px solid silver; border-left:1px solid silver; border-bottom:1px solid black; border-right:1px solid black; cursor:pointer; background-color:gray; color:white; width:100px; display:inline-block;}
.button_gray:hover {background-color:lawngreen;}

.select_multi {width:100%; margin-bottom:0px; padding-bottom:0px;}
.select_candidates {width:100%; margin-bottom:0px; padding-bottom:0px; background-color:lavender;}

.msg_bold {font-size:16px; font-weight:800;}

.img_block_title {text-align:center; color:navy; font-size:13px; line-height:1.4; padding:5px;}
.img_block_memo {border:double 4px darkgoldenrod; font-size:13px; padding:10px 15px; background-color:cornsilk; text-align:left; border-radius:4px;}

.attachment_block {cursor:pointer; border:2px solid white; border-spacing:1px; border-color:white;}
.attachment_block:hover {border-color:lime;}
.attachment_block_name {color:white; font-size:12px; text-align:center; padding:3px; line-height:1.0; background-color:#6b6e7a;}
.attachment_block_title {color:white; font-size:12px; text-align:center; padding:3px; line-height:1.0; background-color:gray;}
.attachment_block_memo {color:black; font-size:12px; padding:3px; padding-left:10px; padding-right:20px; line-height:1.0; background-color:gainsboro; text-align:left;}

.cap_bar {background:url("../images/background/caption_bg.png") repeat-x center; padding:0px 10px; color:dimgray; border:solid 1px silver; text-align:left; box-shadow:2px 2px 3px rgba(100, 100, 100, 0.2); border-radius:7px;}

.entry_view_cap {border:solid 1px #0066ff; font-size:13px; padding:0px 3px; line-height:1.5; text-align:center; vertical-align:middle;}
.entry_view_val {font-size:13px; padding:0px 3px; line-height:1.5; text-align:center; vertical-align:middle;}
.tab_strip {width:120px; background:silver url('../images/controls/tab_cut.png') top left no-repeat; color:white; cursor:pointer; padding:0px 10px; text-align:left;}
.tab_strip:hover {background-color:palegreen;}
.tab_strip.selected{background-color:blue; color:white; cursor:default;}

.comment_body {border:solid 1px #965100; font-size:13px; padding:5px; line-height:1.7; background-color:#fffbed;}
.comment_tab {color:white; font-size:13px; vertical-align:middle; padding-left:10px; padding-right:20px; line-height:1.0; height:20px; background:url("../images/background/comment_tab.png") top left repeat-x;}
.comment_sys_body {border:solid 1px #ea3c50; font-size:13px; padding:5px; line-height:1.7; background-color:#ffeded;}
.comment_sys_tab {color:white; font-size:13px; padding:3px; padding-left:10px; padding-right:20px; line-height:1.0; background-color:#ea3c50;}

.img_btn {border-right:solid 1px darkgray; border-bottom:solid 1px darkgray; padding-right:2px; padding-bottom:2px; cursor:pointer;}
.prim_btn {background-image:url("../images/controls/button.png"); vertical-align:middle; background-repeat:no-repeat; cursor:pointer; text-align:center; width:103px; height:35px; font-weight:600; color:white;}
.menu_btn {cursor:pointer; font-size:14px; line-height:1.0; background:url("../images/menu/menu_bg_off.png") repeat-x center; padding:0px; color:#404040; border:solid 1px silver; text-align:center; box-shadow:1px 1px 2px rgba(100, 100, 100, 0.2); border-radius:13px;}
.menu_btn.hovered {color:forestgreen;}
.menu_btn.selected {background:url("../images/menu/menu_bg_on.png") repeat-x center; color:deeppink; border:solid 1px pink; box-shadow:1px 1px 2px rgba(50, 50, 100, 0.2);}
.cap_td {background-color:#ffcbcf; padding:5px; text-align:center;}
.prim_cap {white-space:nowrap; background-color:#7fe8ff; padding:5px; width:110px; text-align:center;}
.spec_cap {background-color:#ffcbcf; padding:5px; width:110px; text-align:center;}
.spec_value {padding:5px; text-align:left;}

.list_th,.list_sort{background-image:url("../images/controls/list_th_off.png"); background-repeat:repeat-x; white-space:nowrap;}
.list_sort{cursor:pointer;}
.list_sort:hover {background-image:url("../images/controls/list_th_on.png");}

.pagination_bar {border:solid 1px darkgray; color:#404040; line-height:18px; text-align:center;}

html {font-family:'Hiragino Kaku Gothic ProN',Meiryo,sans-serif; font-size:14px; line-height:1.7;}
body, ol, ul, td, li, textarea {margin:0px; padding:0px;}
table {padding:0px; border-width:0px; border-spacing:0px;}
form {display:inline;}
img {border:0px; vertical-align:middle;}

a:link {text-decoration:none; color:navy }
a:visited {color:navy }
a:active {text-decoration:none; color:blue }
a:hover  {text-decoration:none; color:limegreen }

a.linked_path {text-decoration:underline; color:red; background-color:inherit;}
a.linked_path:hover {background-color:palegreen;}

a.linked_item_dir {text-decoration:none; color:red; background-color:inherit;}
a.linked_item_dir:hover {background-color:cornsilk;}

.a_underline:link {text-decoration:underline; color:navy }
.a_underline:visited {color:navy }
.a_underline:active {text-decoration:underline; color:blue }
.a_underline:hover{text-decoration:underline; color:limegreen }

.a_pagination:link {text-decoration:underline; color:red }
.a_pagination:visited {color:red }
.a_pagination:active {text-decoration:underline; color:orange }
.a_pagination:hover{text-decoration:underline; color:limegreen }

.fieldWithErrors {padding:2px; background-color:red; display:table;}
#errorExplanation {display:none; width:400px; border:2px solid red; padding:7px; padding-bottom:12px; margin-bottom:20px; background-color:#f0f0f0;}
#errorExplanation h2 {text-align:left; font-weight:bold; padding:5px 5px 5px 15px; font-size:12px; margin:-7px; background-color:#c00; color:#fff;}
#errorExplanation p {color:#333; margin-bottom:0px; padding:5px;}
#errorExplanation ul li {font-size:12px; list-style:square;}

div.uploadStatus {margin:5px;}
div.progressBar {margin:5px;}
div.progressBar div.border {background-color:#fff; border:1px solid grey; width:100%;}
div.progressBar div.background {background-color:#333; height:18px; width:0%;}

div.hr {border-bottom:solid 1px gray; margin:5px 0px;}

.regular_table {width:100%; border-spacing:1px;}
.regular_table>tbody>tr {height:30px;}
.regular_table>tbody>tr>td {text-align:left; padding:0px 5px;}
.regular_table>tbody>tr:nth-child(odd)>td {background-color:white;}
.regular_table>tbody>tr:nth-child(even)>td {background-color:gainsboro;}
.regular_table>tbody#sortable_items>tr>td {cursor:move; border:2px solid transparent;}
.regular_table>tbody#sortable_items>tr>td:hover {border-color:lime;}

