
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td align="left">
      <div style="padding-left:10px;">
      <%
      unless @received_wfs.nil?
        @received_wfs.each do |workflow|
          item = workflow.item
          expected_users = workflow.get_current_expected
          expected_mark = ''
          if !expected_users.nil? and expected_users.include?(@login_user.id)
            expected_mark = '<img src="'+THETIS_RELATIVE_URL_ROOT+'/images/red_flag.gif" alt="'+h(t('workflow.expected_icon_alt'))+'" />'
          end
      %>
        <span style="color:red; font-weight:bold;"><%= raw(expected_mark) %></span>
        <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'show', :id => item.id) %>'; return false;">
          <%= truncate(item.title, :length => 30) %>
        </a>
        <span style="color:red; line-height:1.8;">&lt;<%= workflow.get_status_name %>&gt;</span><br/>
      <%
        end
      end
      %>
      </div>
    </td>
  </tr>
</table>
